*,
input,
textarea,
button{
  box-sizing: border-box;
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
}
input,
textarea,
button{
  font-family: $main-font;
  font-weight: 300;
}
body {
  position: relative;
  font-family: $main-font;
  color: $main-color;
  font-size: 14px;
  font-weight: 300;
}
img {
  width: 100%;
  height: auto;
}
ul {
  padding-left: 0;
}