$max-mobile-width: "(max-width: 767px)";
$min-tablet-width: "(min-width: 768px)";
$max-tablet-width: "(max-width: 991px)";
$min-laptop-width: "(min-width: 992px)";
$min-desktop-width: "(min-width: 1200px)";

$mobile-padding: 20px;
$tablet-padding: 40px;
$desktop-padding: 63px;

$main-bg: #ffffff;

$main-color: #606060;
$alt-color: #fff;

$link-color: #7a7a7a;

$main-font: "source-sans-pro", "Arial", sans-serif;
$alt-font: "lato", "Arial", sans-serif;

$btn-color: #606060;