.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benefits--1 {
  @include bg--alt1;
}
.benefits--2 {
  @include bg--alt2;
}
.benefits__wrapper {
  @include paddings;
  @media #{$max-mobile-width} {
    padding-top: 50px;
  }
}
.benefits__title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: $alt-color;
  font-family: $alt-font;
  @media #{$max-mobile-width} {
    font-size: 35px;
  }
  @media #{$min-tablet-width} {
    font-size: 35px;
  }
  @media #{$min-desktop-width} {
    font-size: 50px;
  }
}
.benefits__list {
  list-style-type: none;
  @media #{$max-mobile-width} {
    margin-top: 30px;
  }
  @media #{$min-tablet-width} {
    margin-top: 49px;
  }
  @media #{$min-desktop-width} {
    margin-top: 70px;
  }
}
.benefits__item {
  position: relative;
  color: $alt-color;
  text-transform: uppercase;
  font-weight: 400;
  font-family: $alt-font;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../../img/list-style--plus.png");
    @media #{$max-mobile-width} {
      width: 33px;
      height: 33px;
      top: -3px;
    }
    @media #{$min-tablet-width} {
      width: 33px;
      height: 33px;
      top: 0;
    }
    @media #{$min-desktop-width} {
      width: 48px;
      height: 48px;
      top: 0;
    }
  }
  @media #{$max-mobile-width} {
    font-size: 25px;
    margin-top: 20px;
    padding-left: 54px;
  }
  @media #{$min-tablet-width} {
    font-size: 32px;
    margin-top: 23px;
    padding-left: 56px;
  }
  @media #{$min-desktop-width} {
    font-size: 45px;
    margin-top: 35px;
    padding-left: 78px;
  }
}