.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benefits--1 {
  @include bg--alt1;
}
.benefits--2 {
  @include bg--alt2;
}
.benefits__wrapper {
  @include paddings;
}
.benefits__title {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: $alt-color;
  font-family: $alt-font;
}
.benefits__list {
  list-style-type: none;
  margin-top: 70px;
}
.benefits__item {
  position: relative;
  color: $alt-color;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 400;
  font-family: $alt-font;
  margin-top: 35px;
  padding-left: 78px;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../../img/list-style--plus.png");
  }
}