.first {
  @include bg--alt1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first__wrapper {
  @include paddings;
  @media #{$max-mobile-width} {
    padding-top: 40px;
  }
}
.first__title {
  font-family: $alt-font;
  color: $alt-color;
  text-transform: uppercase;
  font-weight: 700;
  @media #{$max-mobile-width} {
    font-size: 35px;
  }
  @media #{$min-tablet-width} {
    font-size: 60px;
  }
  @media #{$min-desktop-width} {
    font-size: 60px;
  }
}