.header {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
  @media #{$max-mobile-width} {
    padding-top: 5px;
  }
  @media #{$min-tablet-width} {
    padding-top: 16px;
  }
  @media #{$min-desktop-width} {
    padding-top: 23px;
  }
  .nav {
    @media #{$max-mobile-width} {
      transition: all .2s ease;
      position: absolute;
      top: 0;
      z-index: 2;
      right: -1000px;
      background-color: $main-bg;
      width: 250px;
      height: 100vh;
    }
    @media #{$min-tablet-width} {
      min-width: 424px;
    }
    &.active {
      @media #{$max-mobile-width} {
        right: 0px;
      }
    }
    .nav__list {
      @media #{$max-mobile-width} {
        flex-direction: column;
      }
      .nav__item {
        @media #{$max-mobile-width} {
          margin-top: 30px;
        }
        .nav__link {
          @media #{$max-mobile-width} {
            color: $main-color;
          }
        }
      }
    }
  }
}
.header__wrapper {
  display: flex;
  @include paddings;
  align-items: center;
}
.header__logo-link {
  font-size: 0;
  width: 63px;
  height: 68px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../img/logo--white.png");
  transition: all 1s ease;
}
.viewing-page-3,
.viewing-page-6 {
  .header__logo-link {
    background-image: url("../../img/logo--black.png");
  }
}
.header__social-list {
  margin-right: 0;
  margin-left: auto;
  width: 57px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__social-item--twitter {
  width: 19px;
  height: 19px;
}
.header__social-item--linkedin {
  width: 16px;
  height: 16px;
}
.header__burger {
  @media #{$max-mobile-width} {
    transition: all .2s ease;
    width: 35px;
    height: 35px;
    margin-left: 30px;
    position: relative;
    border: 0 solid transparent;
    z-index: 3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% auto;
  }
  span {
    transition: all 500ms ease-in-out;
    cursor: pointer;
    height: 3px;
    width: 35px;
    background: $border-color;
    position: absolute;
    display: block;
    content: '';
    top: 15px;
    left: 0;
    &::before {
      transition: all 500ms ease-in-out;
      top: -10px;
      height: 3px;
      width: 35px;
      background: $border-color;
      position: absolute;
      display: block;
      content: "";
    }
    &::after {
      transition: all 500ms ease-in-out;
      bottom: -10px;
      height: 3px;
      width: 35px;
      background: $border-color;
      position: absolute;
      display: block;
      content: '';
    }
  }
  @media #{$min-tablet-width} {
    display: none;
  }
  &.active {
    span {
      left: -2px;
      top: 13px;
      background-color: transparent;
      &::before {
        transform: rotate(45deg);
        top: 0;
      }
      &::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }
}