.success {
  display: none;
  .active {
    position: absolute;
    z-index: 11;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
  }
}
.success__notice {
  font-family: $alt-font;
  font-weight: 700;
  @media #{$max-mobile-width} {
    font-size: 42px;
  }
  @media #{$min-tablet-width} {
    font-size: 42px;
  }
  @media #{$min-desktop-width} {
    font-size: 60px;
  }
}